<div class="header header-{{section}}">
  <div class="header-top">
    <a href="index.html" class="menactra-logo">
    </a>
    <div class="top-bar">
      <ul class="utility-nav">
        <li><a href="#isi" target="_self">Important Safety Information</a></li>
        <li><a href="https://www.vaccineshoppe.com/image.cfm?pi=589-05&image_type=product_pdf" target="_blank">Prescribing Information</a></li>
        <li class="last"><a href="http://www.vaccineshoppe.com" target="_blank" data-toggle="modal" data-target="#interstitial">VaccineShoppe.com</a></li>
      </ul>
      <a class="sanofi-logo" target="_blank" href="http://www.sanofipasteur.com/en/"></a>
    </div>

    <ul class="main-nav dropdown">
      <li class="first {{nav-item1}} nav-about"><a href="about-menactra-vaccine.html"> About Menactra <br/> Vaccine</a></li>
      <li class="nav-risks {{nav-item2}}"><a href="meningitis-risks.html"> Meningitis <br/> Risks</a></li>
      <li class="nav-protected {{nav-item3}}"><a href="are-patients-underprotected.html"> Are Patients <br/> Under-Protected?</a></li>
      <li class="nav-schedule {{nav-item4}}"><a href="recommended-schedule.html"> Recommended <br/> Schedule</a></li>
      <li class="last nav-information {{nav-item5}}">
        <a href="information-for-patients.html"> Information <br/> For Patients</a>
        <ul>
          <li><a href="what-is-meningitis.html">What Is Meningitis</a></li>
          <li><a href="what-is-menactra-vaccine.html">What Is Menactra Vaccine?</a></li>
          <li><a href="is-menactra-vaccine-safe.html">Is Menactra Vaccine Safe?</a></li>
          <li class="last-sub"><a href="how-to-get-menactra-vaccine.html">How to Get Menactra Vaccine</a></li>
        </ul>
      </li>
    </ul>
  </div>

    {{#if brandbox}}
  <div class="brand-box">
    <img src="img/brand-box-title.png" alt="Truly Protected?"/>
    <p class="hero-copy">
      <span> Learn how to help keep them safe with Menactra vaccine&mdash;</span><br>
      the first meningococcal vaccine approved for primary and<br>booster vaccination.<sup>1</sup>

    </p>
    <a class="btn btn-l" href="about-menactra-vaccine.html">Learn More About Menactra Vaccine</a>
  </div>
  {{/if}}



</div>




