---
title: NazacortHCP
section: faq
layout: layout.hbs
---

{{>header}}

<div class="{{section}}-header">
    <div class="content section-content">
        <h1>Frequently Asked Questions</h1>
    </div>
</div>

<div class="content section-content {{section}}">
    <p>Use only as directed. For complete directions, warnings, and other information, please see the Drug Facts Label.</p>
    <h2>About Nasacort<sup>&reg;</sup> Allergy 24HR</h2>
    
    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: What is Nasacort<sup>&reg;</sup>?</span> 
        </div>
        <div class="text-{{section}}">
            <p>Nasacort<sup>&reg;</sup> Allergy 24HR is an over-the-counter intranasal steroid (INS) used to treat nasal symptoms of indoor and outdoor allergies (perennial and seasonal allergic rhinitis). When Nasacort<sup>&reg;</sup> is used as directed, it can relieve the symptoms of allergic rhinitis (AR): sneezing, runny nose, nasal itching, and congestion. <strong>Nasacort<sup>&reg;</sup> is not for children under 2 years of age.</strong></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Is over-the-counter Nasacort<sup>&reg;</sup> the same strength as the original<br/>     prescription Nasacort<sup>&reg;</sup> AQ??</span> 
        </div>
        <div class="text-{{section}}">
            <p>Yes. Nasacort<sup>&reg;</sup> Allergy 24HR and Nasacort<sup>&reg;</sup> AQ are the same medicine. Nasacort<sup>&reg;</sup> Allergy 24HR has the same prescription strength as Nasacort<sup>&reg;</sup> AQ without a prescription.</p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: What is the indication for Nasacort<sup>&reg;</sup>? </span> 
        </div>
        <div class="text-{{section}}">
            <p>Nasacort<sup>&reg;</sup> Allergy 24HR temporarily relieves these symptoms of hay fever or upper respiratory allergies in patients age 2 and older:</p>
            <ul>
                <li>Nasal congestion</li>
                <li>Runny nose</li>
                <li>Sneezing</li>
                <li>Itchy nose</li>
            </ul>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> relieve symptoms of indoor and outdoor allergies?</span> 
        </div>
        <div class="text-{{section}}">
            <p>Yes. Nasacort<sup>&reg;</sup> temporarily relieves nasal allergy symptoms, which can be caused by an allergic response <br/>to indoor or outdoor allergens. Symptoms include nasal congestion, sneezing, runny nose, and itchy nose.</p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> start working on the first day?</span> 
        </div>
        <div class="text-{{section}}">
            <p>Yes. Nasacort<sup>&reg;</sup> starts working on the first day you take it, and after just a few days of continual use provides maximum symptom relief. It may take up to 1 week of daily use to feel the most symptom relief. View the <a href="#">Day 1 efficacy results.</a></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Will Nasacort<sup>&reg;</sup> make my patient drowsy? </span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is formulated to be <a href="#">non-drowsy.</a></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> have an unpleasant smell?</span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is the <a href="#">only OTC INS that’s scent-free.</a></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> contain alcohol?</span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort® Allergy 24HR is the <a href="#">only OTC INS that does not contain alcohol.</a></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> have a harsh taste?</span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort® Allergy 24HR <a href="#">has no harsh taste.</a></p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Can patients develop an addiction to Nasacort<sup>&reg;</sup>?</span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort<sup>&reg;</sup> is not addictive, and is safe to use every day. Patients should use only as directed, and they should read the <a href="#">Drug Facts Label</a> for complete dosing instructions and warnings. </p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: How does Nasacort<sup>&reg;</sup> differ from other OTC INSs?</span> 
        </div>
        <div class="text-{{section}}">
            <p>Like Nasacort<sup>&reg;</sup>, Flonase<sup>&reg;</sup> is an OTC INS (intranasal steroid), but they are different in their formulation. Unlike Flonase<sup>&reg;</sup>, Nasacort<sup>&reg;</sup> is scent-free, alcohol-free, and has no harsh taste. According to a clinical study,* based on sensory attributes, patients preferred Nasacort® over Flonase<sup>&reg;</sup>. <a href="#">See how Nasacort compares</a> to Flonase<sup>&reg;</sup> and other nasal allergy medications. </p>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="head-{{section}}">
            <span class="question-{{section}}">Q: Does Nasacort<sup>&reg;</sup> drip?</span> 
        </div>
        <div class="text-{{section}}">
            <p>No. Nasacort® Allergy 24HR is formulated to be <a href="#">Sdrip-free.</a></p>
        </div>
    </div>

</div>





