---
title: NazacortHCP
section: faq
layout: layout.hbs
---

{{>header}}

<div class="{{section}}-header">
    <div class="content section-content">
        <h1>Frequently Asked Questions</h1>
    </div>
</div>
<!---------------------------------------- About Nasacort ---------------------------------------->
<div class="content section-content {{section}}">
    <p>Use only as directed. For complete directions, warnings, and other information, please see the <a class="link-head" href="#">Drug Facts Label.</a></p>
    <h2>About Nasacort<sup>&reg;</sup> Allergy 24HR</h2>
    
    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">What is Nasacort<sup>&reg;</sup>?</span>
            </div>
            <div class="text-{{section}}">
                <p>Nasacort<sup>&reg;</sup> Allergy 24HR is an over-the-counter intranasal steroid (INS) used to treat nasal symptoms of indoor and outdoor allergies (perennial and seasonal allergic rhinitis). When Nasacort<sup>&reg;</sup> is used as directed, it can relieve the symptoms of allergic rhinitis (AR): sneezing, runny nose, nasal itching, and congestion. <strong>Nasacort<sup>&reg;</sup> is not for children under 2 years of age.</strong></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Is over-the-counter Nasacort<sup>&reg;</sup> the same strength as the original prescription Nasacort<sup>&reg;</sup> AQ?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Yes. Nasacort<sup>&reg;</sup> Allergy 24HR and Nasacort<sup>&reg;</sup> AQ are the same medicine. Nasacort<sup>&reg;</sup> Allergy 24HR has the same prescription strength as Nasacort<sup>&reg;</sup> AQ without a prescription.</p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">What is the indication for Nasacort<sup>&reg;</sup>? </span> 
            </div>
            <div class="text-{{section}}">
                <p class="mrg-par">Nasacort<sup>&reg;</sup> Allergy 24HR temporarily relieves these symptoms of hay fever or upper respiratory allergies in patients age 2 and older:</p>
                <ul class="inl-list">
                    <li>Nasal congestion</li>
                    <li>Runny nose</li>
                    <li>Sneezing</li>
                    <li>Itchy nose</li>
                </ul>
            </div>    
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> relieve symptoms of indoor and outdoor allergies?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Yes. Nasacort<sup>&reg;</sup> temporarily relieves nasal allergy symptoms, which can be caused by an allergic response to indoor or outdoor allergens. Symptoms include nasal congestion, sneezing, runny nose, and itchy nose.</p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> start working on the first day?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Yes. Nasacort<sup>&reg;</sup> starts working on the first day you take it, and after just a few days of continual use provides maximum symptom relief. It may take up to 1 week of daily use to feel the most symptom relief. View the <a href="#">Day 1 efficacy results.</a></p>
            </div>            
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Will Nasacort<sup>&reg;</sup> make my patient drowsy? </span>
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is formulated to be <a href="#">non-drowsy.</a></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> have an unpleasant smell?</span>
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is the <a href="#">only OTC INS that’s scent-free.</a></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> contain alcohol?</span> 
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is the <a href="#">only OTC INS that does not contain alcohol.</a></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> have a harsh taste?</span>
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR <a href="#">has no harsh taste.</a></p>
            </div>   
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Can patients develop an addiction to Nasacort<sup>&reg;</sup>?</span>
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> is not addictive, and is safe to use every day. Patients should use only as directed, and they should read the <a href="#">Drug Facts Label</a> for complete dosing instructions and warnings. </p>
            </div>   
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">How does Nasacort<sup>&reg;</sup> differ from other OTC INSs?</span>
            </div>
            <div class="text-{{section}}">
                <p>Like Nasacort<sup>&reg;</sup>, Flonase<sup>&reg;</sup> is an OTC INS (intranasal steroid), but they are different in their formulation. Unlike Flonase<sup>&reg;</sup>, Nasacort<sup>&reg;</sup> is scent-free, alcohol-free, and has no harsh taste. According to a clinical study,* based on sensory attributes, patients preferred Nasacort<sup>&reg;</sup> over Flonase<sup>&reg;</sup>. <a href="#">See how Nasacort compares</a> to Flonase<sup>&reg;</sup> and other nasal allergy medications. </p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Does Nasacort<sup>&reg;</sup> drip?</span>
            </div>
            <div class="text-{{section}}">
                <p>No. Nasacort<sup>&reg;</sup> Allergy 24HR is formulated to be <a href="#">Sdrip-free.</a></p>
            </div>
        </div>
    </div>

</div>

<!---------------------------------------- How to use Nasacort ---------------------------------------->

<div class="content section-content {{section}}">
    <h2>How to use Nasacort<sup>&reg;</sup> Allergy 24HR</h2>
    
    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">What should my patients know about administering Nasacort<sup>&reg;</sup>?</span> 
            </div>
            <div class="text-{{section}}">
                <p class="mrg-par">Patients should be advised to read the entire insert on the inside packaging to learn how to properly use Nasacort<sup>&reg;</sup> Allergy 24HR. These instructions will tell the patient how to:</p>
                <ul class="inl-list">
                    <li>Prime a bottle</li>
                    <li>Use the spray</li>
                    <li>Clean the spray nozzle</li>
                </ul>
                <p>Patients should also be discouraged from sharing spray bottles due to the possibility of spreading germs. 
    Get the <a href="#">full instructions here.</a></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">What is the adult dosing information for Nasacort<sup>&reg;</sup>?</span>
            </div>
            <div class="text-{{section}}">
                <p>For patients aged 12 years and older, Nasacort<sup>&reg;</sup> Allergy 24HR should be administered once daily as 2 sprays in each nostril while sniffing gently. Once symptoms improve, patients can reduce their use to 1 spray in each nostril if it maintains control of their symptoms.</p>
            </div>  
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
           <div class="head-{{section}}">
                <span class="question-{{section}}">Can children use Nasacort<sup>&reg;</sup>? </span>
            </div>
            <div class="text-{{section}}">
                <p>Nasacort<sup>&reg;</sup> Allergy 24HR has been <a href="#">proven effective</a> in <a href="">children 2 and up</a>. Nasacort<sup>&reg;</sup> is not indicated for children under 2 years of age. Please see the <a href="#">Drug Facts Label</a> or more information about pediatric dosing and growth.</p>
            </div> 
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
           <div class="head-{{section}}">
                <span class="question-{{section}}">What is the pediatric dosing information for Nasacort<sup>&reg;</sup>? </span>
            </div>
            <div class="text-{{section}}">
                <p>For patients between the <strong>ages of 6 and 12</strong>, Nasacort<sup>&reg;</sup> Allergy 24HR should be administered once daily as 1 spray in each nostril while sniffing gently. If symptoms do not improve, patients should increase to 2 sprays in each nostril per day. Once symptoms improve, patients can reduce their use to 1 spray in each nostril if it maintains control of their symptoms.</p>
                <p>For patients between the ages of <strong>2 and 6</strong>, Nasacort<sup>&reg;</sup> Allergy 24HR should be administered once daily as 1 spray in each nostril while sniffing gently.</p>
                <p>Encourage parents to supervise administration, and to talk to the child’s doctor if their child needs to use Nasacort<sup>&reg;</sup> Allergy 24HR for longer than 2 months. Please see the <a href="#">Drug Facts Label</a> for more information about pediatric dosing and growth.</p>
            </div> 
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
           <div class="head-{{section}}">
                <span class="question-{{section}}">Is Nasacort<sup>&reg;</sup> safe to use with blood pressure medicine?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Yes. Nasacort<sup>&reg;</sup> Allergy 24HR is safe to use with <a href="#">blood pressure medicines</a>. </p>
            </div> 
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Is Nasacort<sup>&reg;</sup> safe to use every day?</span>
            </div>
            <div class="text-{{section}}">
                <p>Yes. When used as directed, Nasacort<sup>&reg;</sup> Allergy 24HR is safe to use every day.</p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Is Nasacort<sup>&reg;</sup> safe to take with other allergy medications? </span> 
            </div>
            <div class="text-{{section}}">
                <p>Patients should ask their doctor or healthcare provider about using other allergy medications in conjunction with Nasacort<sup>&reg;</sup>.</p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
           <div class="head-{{section}}">
                <span class="question-{{section}}">When should patients stop using Nasacort<sup>&reg;</sup>?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Patients should be advised to stop using Nasacort<sup>&reg;</sup> Allergy 24HR and contact a doctor if their symptoms do not improve after 1 week, or if they have:</p>
                <ul>
                    <li>A severe allergic reaction (they should seek medical attention immediately)</li>
                    <li>Chickenpox, measles, or tuberculosis (or if they have come into contact with someone who does)</li>
                    <li>Symptoms of an infection (or if they develop symptoms of an infection)</li>
                    <li>Any change in vision</li>
                    <li>Severe or frequent nosebleeds</li>
                </ul>
                <p>Please see the <a href="#">Drug Facts Label</a> for a full list of warnings and instructions.</p>
            </div> 
        </div>
    </div>

</div>

<!---------------------------------------- Rhinitis Treatment ---------------------------------------->

<div class="content section-content {{section}}">
    <h2>Allergic rhinitis treatment</h2>
    
    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">How can I tell if my patient has moderate to severe allergic rhinitist?</span> 
            </div>
            <div class="text-{{section}}">
                <p>According to the latest medical guidelines,<sup>1</sup> allergy symptoms are measured by how significantly a patient’s quality of life has been affected by sneezing, itchy nose, runny nose, or nasal congestion. In <a href="#">moderate to severe cases</a>, 1 or more of the following characteristics should be present:</p>
                <ul>
                    <li>Sleep disturbance</li>
                    <li>Impairment of daily activities (leisure, sports) </li>
                    <li>Impairment of school or work</li>
                    <li>Troublesome symptoms</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">When should I recommend intranasal steroids (INSs) or antihistamines for patients with allergic rhinitis?</span> 
            </div>
            <div class="text-{{section}}">
                <p>Oral antihistamines (OAHs) work in the early stages of the <a href="#">allergic cascade</a> to target the body’s histamine response to allergens. They do a good job of treating mild to moderate nasal allergy symptoms, but OAHs do not treat nasal congestion. INSs like Nasacort<sup>&reg;</sup> Allergy 24HR target both early and late stages of the allergic cascade to treat moderate to severe nasal allergy symptoms, including nasal congestion. Treatment guidelines state that INSs are the most effective category of medication in treating these symptoms of allergic rhinitis.<sup>1</sup></p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Where do oral decongestants fit into allergic rhinitis treatment?</span>
            </div>
            <div class="text-{{section}}">
                <p>While oral decongestants can help with congestion, <a href="#">they do not address other allergic rhinitis symptoms</a> such as sneezing, runny nose, and itchy nose. Additionally, because oral decongestants have systemic vasoconstrictive properties, patients receiving them should be monitored for changes in blood pressure. INSs such as Nasacort<sup>&reg;</sup> Allergy 24HR can help clear up the <a href="#">full range of nasal allergy symptoms</a>, including nasal congestion, for 24 hours. It may take up to 1 week of daily use for patients to feel the most symptom relief.</p>
            </div>
        </div>
    </div>

    <div class="container-{{section}}">
        <div class="no-border-sect-{{section}}">
            <div class="head-{{section}}">
                <span class="question-{{section}}">Where do nasal decongestants fit into allergic rhinitis treatment?</span>
            </div>
            <div class="text-{{section}}">
                <p>Intranasal decongestants cause localized vasoconstriction within the nasal membrane, which very quickly relieves nasal congestion. However, they have no effect on itching, sneezing, or nasal secretion. Plus, they should only be used occasionally, over short periods of time (3 to 5 days is recommended), because of the risk of rebound congestion. INSs such as Nasacort<sup>&reg;</sup> Allergy 24HR can help clear up the full range of allergy symptoms, including nasal congestion, for 24 hours without rebound effect. It may take up to 1 week of daily use for patients to feel the most symptom relief.</p>
            </div>
        </div>
    </div>

</div>

{{>footer}}





